@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

#content{
    padding-top: 50px;
}

.foot{
    height: 200px;
    width: 200px;
    color: #444444;
}

.logo{
    height: 40px;
    width: 60px;
}

.carousel-img{
    width: inherit;
}